<div class="calc">
  <div class="result">{{input}}</div>
  <div class="keyboard">
    <div class="numbers">
      <div class="row">
        <input type="button" value="7" (click)="pressNum('7')" />
        <input type="button" value="8" (click)="pressNum('8')" />
        <input type="button" value="9" (click)="pressNum('9')" />
      </div>
      <div class="row">
        <input type="button" value="4" (click)="pressNum('4')" />
        <input type="button" value="5" (click)="pressNum('5')" />
        <input type="button" value="6" (click)="pressNum('6')" />
      </div>
      <div class="row">
        <input type="button" value="1" (click)="pressNum('1')" />
        <input type="button" value="2" (click)="pressNum('2')" />
        <input type="button" value="3" (click)="pressNum('3')" />
      </div>
      <div class="row">
        <input type="button" value="&dot;" (click)="pressNum('.')" />
        <input type="button" value="0" (click)="pressNum('0')" />
        <input type="button" value="=" (click)="getAnswer()" />
      </div>
    </div>
    <div class="operator">
      <input type="button" id="AC" value="AC" (click)="effacerTout()" />
      <input type="button" value="DEL" (click)="effacer()" />
      <input type="button" value="+" (click)="pressOperator('+')" />
      <input type="button" value="-" (click)="pressOperator('-')" />
      <input type="button" value="&times;" (click)="pressOperator('*')" />
      <input type="button" value="&divide;" (click)="pressOperator('/')" />
    </div>
  </div>
</div>
